In [2]:
from openbb import obb as openbb

In [3]:
#import psycopg2 as pg2
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:xxxxx@localhost/vol_event_db', future=True)

In [3]:
import modules.economic_calendar as e
ec = e.EconomicCalendar(engine)
ec.create_table('2024-08-01', '2024-10-01')

Table already exists. Please remove the table from the database and try again

In [4]:
ec.update_table('2024-10-20')

,country,event,consensus,previous,actual,last_updated
date,,,,,,
2024-09-16 08:30:00,United States,NY Empire State Manufacturing Index,-4.10,-4.70,-,2024-09-14 13:04:51.007362
2024-09-16 11:30:00,United States,3-Month Bill Auction,,4.895%,-,2024-09-14 13:04:51.007362
2024-09-16 11:30:00,United States,6-Month Bill Auction,,4.530%,-,2024-09-14 13:04:51.007362
2024-09-17 08:30:00,United States,Retail Sales Ex Gas/Autos,0.3%,0.4%,-,2024-09-14 13:04:51.007362
2024-09-17 08:30:00,United States,Retail Sales,,2.66%,-,2024-09-14 13:04:51.007362

In [5]:
import modules.price_index as pi
vix = pi.PriceIndex('Vix', engine, 2)
vix.create_table('2019-01-01', '2024-01-01')

Table already exists. Please remove the table from the database and try again

In [24]:
vix.update_table()

In [119]:
import modules.interest_rates as rt

yc = rt.Rates(engine)
yc.create_table()

c:\Users\User\Documents\Trading\Strategies\MD\MarketDashboard\modules\interest_rates.py:48: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  yc.replace('-', method='ffill', inplace=True)

         date    1m    3m    6m    1y    2y    3y    5y    7y   10y   20y  \
0  2024-09-03  5.38  5.19   4.8  4.35  3.88  3.73  3.65  3.73  3.84  4.21
1  2024-08-30  5.41  5.21  4.89  4.38  3.91  3.79  3.71   3.8  3.91  4.28

    30y
0  4.13
1   4.2

In [120]:
yc.update_table()

In [5]:
import modules.fed_funds as fed_funds

ff = fed_funds.FedFunds()

# fed funds
df = ff.get_ff(18,1)
dff = ff.get_ff_deltas(df)
df.head(5)

,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03,2025-04,2025-05,2025-06,2025-07,2025-08,2025-09,2025-10,2025-11,2025-12,2026-01,2026-02
Date,,,,,,,,,,,,,,,,,,
2024-09-12,94.793,94.990,95.280,95.535,95.785,96.125,96.26,96.465,96.660,96.785,96.895,97.010,97.045,97.100,97.155,97.175,97.195,97.230
2024-09-11,94.780,94.955,95.235,95.490,95.745,96.100,96.24,96.455,96.655,96.785,96.900,97.015,97.050,97.105,97.160,97.180,97.200,97.235
2024-09-10,94.800,95.005,95.310,95.575,95.840,96.190,96.32,96.530,96.720,96.840,96.950,97.060,97.095,97.145,97.200,97.220,97.240,97.275
2024-09-09,94.798,94.995,95.295,95.555,95.810,96.145,96.28,96.485,96.670,96.785,96.885,96.995,97.030,97.080,97.135,97.155,97.175,97.210
2024-09-06,94.798,94.995,95.300,95.570,95.840,96.180,96.31,96.510,96.700,96.815,96.915,97.025,97.060,97.110,97.165,97.185,97.205,97.240