In [1]:
from openbb_terminal.sdk import openbb

Forecasting Toolkit is disabled. To use the Forecasting features please install the toolkit following the instructions here: https://my.openbb.co/app/sdk/installation

Portfolio Optimization Toolkit is disabled. To use the Optimization features please install the toolkit following the instructions here: https://my.openbb.co/app/sdk/installation

In [2]:
import modules.economic_calendar as econ_cal
ec = econ_cal.EconomicCalendar()

# TO DO: Put these into a single function
ec.get_upcoming_full_econ_cal(10)
ec.get_recent_full_econ_cal(30)
ec.concat_full_ecal()
ec.filter_full_ecal()
ec.update_filtered_ecal()

,Date,Time (ET),Country,Event,Actual,Consensus,Previous,code
2088,2024-09-10,12:00,United States,EIA Short-Term Energy Outlook,-,,-,2000
2089,2024-08-27,08:30,United States,Durable Goods Orders,9.9%,4.0%,-6.9%,305

In [3]:
import modules.indices as idxs

indices = idxs.Indices()
indices.get_indices()

Loading Daily data for ^VIX with starting period 2019-01-02.

Loading Daily data for ^MOVE with starting period 2019-01-02.

Loading Daily data for ^SKEW with starting period 2019-01-02.

Loading Daily data for ^SPX with starting period 2019-01-02.

             VIX_Open  VIX_High    VIX_Low  VIX_Close
date
2024-09-12  17.620001     18.59  16.889999  17.070000
2024-09-13  17.030001     17.18  16.230000  16.559999

In [4]:
import modules.interest_rates as ir

rates = ir.Rates()
yield_curve = rates.update_yc()
rates.get_yc_deltas(yield_curve)
yield_curve.head(10)

        Date    1m    3m    6m    1y    2y    3y    5y    7y   10y   20y   30y
0 2024-09-13  5.15  4.97   4.6   4.0  3.57  3.42  3.43  3.53  3.66  4.05  3.98
1 2024-09-12  5.18  5.06  4.68  4.09  3.64  3.47  3.47  3.57  3.68  4.07   4.0
2 2024-09-11  5.21   5.1  4.72  4.12  3.62  3.45  3.45  3.54  3.65  4.03  3.96
3 2024-09-10  5.18  5.06  4.65  4.07  3.59  3.42  3.43  3.53  3.65  4.04  3.97
4 2024-09-09  5.25  5.11  4.68  4.12  3.68  3.54  3.49  3.58   3.7  4.08   4.0
5 2024-09-06  5.28  5.13  4.69   4.1  3.66  3.54   3.5   3.6  3.72   4.1  4.03
6 2024-09-05   5.3  5.15  4.73  4.21  3.75  3.61  3.54  3.63  3.73  4.11  4.02
7 2024-09-04  5.33  5.18  4.74  4.23  3.76  3.63  3.56  3.65  3.77  4.14  4.06
8 2024-09-03  5.38  5.19   4.8  4.35  3.88  3.73  3.65  3.73  3.84  4.21  4.13
9 2024-08-30  5.41  5.21  4.89  4.38  3.91  3.79  3.71   3.8  3.91  4.28   4.2

In [6]:
import modules.fed_funds as fed_funds

ff = fed_funds.FedFunds()

# fed funds
df = ff.get_ff(18,1)
dff = ff.get_ff_deltas(df)
df.head(5)

,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02,2025-03,2025-04,2025-05,2025-06,2025-07,2025-08,2025-09,2025-10,2025-11,2025-12,2026-01,2026-02
Date,,,,,,,,,,,,,,,,,,
2024-09-12,94.793,94.990,95.280,95.535,95.785,96.125,96.26,96.465,96.660,96.785,96.895,97.010,97.045,97.100,97.155,97.175,97.195,97.230
2024-09-11,94.780,94.955,95.235,95.490,95.745,96.100,96.24,96.455,96.655,96.785,96.900,97.015,97.050,97.105,97.160,97.180,97.200,97.235
2024-09-10,94.800,95.005,95.310,95.575,95.840,96.190,96.32,96.530,96.720,96.840,96.950,97.060,97.095,97.145,97.200,97.220,97.240,97.275
2024-09-09,94.798,94.995,95.295,95.555,95.810,96.145,96.28,96.485,96.670,96.785,96.885,96.995,97.030,97.080,97.135,97.155,97.175,97.210
2024-09-06,94.798,94.995,95.300,95.570,95.840,96.180,96.31,96.510,96.700,96.815,96.915,97.025,97.060,97.110,97.165,97.185,97.205,97.240